@charset "UTF-8";
/* 소비자 마이패이지 css */
@import url('https://fonts.googleapis.com/css?family=Oswald');

main {
        height: auto;
        min-height: 100%;
        padding-bottom: 300px;
}

:root {
  --base-color: #303F9F;
  --second-color: #3F51B5;
  --third-color: #cf1414cc;
  --green-color: #6aaa91;
  --site: #303F9F;
  --light: #fff;
}


body {
  font-family: 'Oswald', sans-serif;
  background: var(--light);
}

.grid {
  list-style: none;
  margin-left: -40px;
}

.gc {
  box-sizing: border-box;
  
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 40px;
  vertical-align: top;
}

.gc--1-of-3 {
  width: 33.33333%;
}

.gc--2-of-3 {
  width: 66.66666%;
}

.naccs {
  
  max-width: 100%;
}

.menu div {
  padding: 15px 20px 15px 40px;
  margin-bottom: 10px;
  color: var(--green-color);
  background: --;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  vertical-align: middle;
  font-weight: 700;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu div span.light {
  height: 10px;
  width: 10px;
 
  top: 24px;
  left: 15px;
  background-color: var(--green-color);
  border-radius: 100%;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu div.active span.light {
  background-color: --third-color;
  left: 0;
  height: 100%;
  width: 3px;
  top: 0;
  border-radius: 0;
}

.menu div.active {
  color: var(--third-color);
  padding: 15px 20px 15px 20px;
}

ul.nacc {
  position: relative;
  height: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  opacity: 0;
  transform: translateX(50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
  transition-delay: .3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

ul.nacc li p {
  margin: 0;
}
main {
    height: auto;
    min-height: 100%;
    padding-bottom: 800px;
}
/*이미지 콘테이너 1:1 비율*/
    .img-container{
        overflow: hidden;
    }
    .card_img{
        width: 100px;
        height:100px;
        object-fit: cover;
        transition: all 0.1s linear;
    }
    .card_img:hover{
        transform: scale(1.05);
    }
    .setting_img:hover{
        transform: scale(1.1);
        cursor: pointer;

    }
    .card{
        border: none; 
    }
@media screen and (max-width: 767px) { #outer { display: none; } }


/* 소비자 마이페이지 css end */

/* 판매자 마이페이지 css */
	 .mydiv{
	    height: 1000px;
	    overflow: auto;
	    overflow-x: hidden
  	}
  .card{
    border: none !important; 
    }

  card {
    object-fit: cover;
  }

/*이미지 콘테이너 1:1 비율*/
.img-container{
        overflow: hidden;
    }
    .card-img-top{
        
        object-fit: cover;
        transition: all 0.1s linear;
    }
    .card-img-top:hover{
        transform: scale(1.05);
    }
    .card{
        border: none;
    }
    

	/* 내 펀딩 <-> 내 스토어 버튼 css */
	.nav-link.active{
      background-color: #6141245f !important;
      color: white !important;
  	}
	.nav-link:hover{
	  color:black;
	}
	
	/* 버튼 */
        .button-6 {
            align-items : center;
            background-color : #FFFFFF;
            border : 1px solid rgba(0, 0, 0, 0.1);
            border-radius : .25rem;
            box-shadow : rgba(0, 0, 0, 0.02) 0 1px 3px 0;
            box-sizing : border-box;
            color: rgba(0, 0, 0, 0.85);
            cursor: pointer;
            display: inline-flex;
            font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            line-height: 10px;
            margin: 0;
            padding: calc(.875rem - 1px) calc(1.5rem - 1px);
            position : relative;
            text-decoration : none;
            transition : all 250ms;
            user-select : none;
            -webkit-user-select : none;
            touch-action : manipulation;
            vertical-align : baseline;
            width : auto;
          }
          
          .button-6:hover,
          .button-6:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            color: rgba(0, 0, 0, 0.65);
          }
          
          .button-6:hover {
            transform: translateY(-1px);
          }
          
          .button-6:active {
            background-color: #F0F0F1;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: rgba(0, 0, 0, 0.65);
            transform: translateY(0);
          }
          /* CSS */
          .button-13 {
            background-color: #fff;
            border: 1px solid #d5d9d9;
            border-radius: 8px;
            box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
            box-sizing: border-box;
            color: #0f1111;
            cursor: pointer;
            display: inline-block;
            font-family: "Amazon Ember",sans-serif;
            font-size: 13px;
            line-height: 29px;
            padding: 0 13px 0 11px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            width: 100%;
            margin: 5px 0px;
          }
          
          .button-13:hover {
            background-color: #f7fafa;
          }
          
          .button-13:focus {
            border-color: #008296;
            box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
            outline: 0;
          }
          
          /* CSS */
          .button-59 {
            background-color: #fff;
            border: 3px solid #6141245f;
            box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
            box-sizing: border-box;
            color: #0f1111;
            cursor: pointer;
            display: inline-block;
            font-family: Inter,sans-serif;
            font-size: 15x;
            font-weight: 600;
            line-height: 29px;
            height: 48px;
            padding: 0 13px 0 11px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            width: 100%;
            margin: 20px 0px;
          }
          
          .button-59:focus {
            color: #171e29;
          }
          
          .button-59:hover {
            border-color: rgba(249, 201, 10, 0.838);
            color: rgba(249, 201, 10, 0.838);
            fill: rgba(249, 201, 10, 0.838);
          }
          .hrTag {
			    border: none;
			    border-top: 2px solid #E3E7EB;
			    overflow: visible;
			    text-align: center;
			    margin-top: 24px;
			    height: 17px;
			}
          .hrTag:after{
          	 	content: "End";
			    position: relative;
			    top: -15px;
			    background: #F1F3F5; 
			    padding: 0 10px;
			    color: #868E96;
			    font-size: 0.8em;
         	 }
          
          @media (min-width: 767px) and (max-width: 992px){
            .card-img-top{
              height:200px;
	         }
	     }
			
/* 판매자 마이페이지 css end */