@charset "UTF-8";
main {
    height: auto;
    min-height: 100%;
}

.containerbox{
	padding: 50px 70px;
    margin: auto;
    width: 100%;
    background-color: #D7CCC8;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

h1{
	padding: 10px 0;
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom-width: 1px;
    font-weight: 700;
}
.table_container{
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
	position: relative;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 0.5rem;
    background-color: #fff;
    max-height: 500px
}

table{
    width: 100%;
    border-collapse: collapse;
    position: relative;
    table-layout: auto;
    background-color: #fff;
}
thead{
    background-color: #EFEBE9;
}
tbody{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
    display: table-row-group;
    vertical-align: middle;
}
tr{
    text-align: left;
}
th{
    letter-spacing: 1px;
    color: #A1887F;
    padding-left: 15px;;
    padding-right: 15px;;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    border-bottom-width: 1px;
    border-bottom: 1px solid #EFEBE9;
    text-align: center;
}
td{
    padding-left: 15px;
    padding-right: 15px;;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-width: 1px;
    border-bottom: 1px dashed #EFEBE9;
    color: #433e3a;
    align-items: center;
    font-size: 14px;
    text-align: center;
}
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}