#my_modal {
                display: none;
                width: 300px;
                padding: 20px 60px;
                background-color: #fefefe;
                border: 1px solid #888;
                border-radius: 3px;
            }

             #my_modal .modal_close_btn {
                position: absolute;
                top: 10px;
                right: 10px;
            } 