<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="adminMapper">
	<!-- 소비자 계정 가져오기 -->
	<!-- // 주석 version13 -->
	<select id="listMember_seller" resultType="memberVO" parameterType="com.edu.vo.Pagination">
		SELECT 
			member_idx
		   ,member_email
		   ,member_name
		   ,member_addr
		   ,member_addr2
		   ,member_postnum
		   ,member_phone
		   ,member_business_num
		   ,member_business_name
		   ,member_pet
		   ,member_level
		   ,member_join_date
		   ,member_state
		   ,member_photo
		FROM member
		WHERE member_level = 0
		order by member_idx asc limit #{rowStart},10
	</select>
	
	<!-- 소비자 계정 page -->
	<select id="seller_Count" resultType="int">
		SELECT COUNT(member_idx)
		FROM member
		where member_level = 0
		AND member_idx > 0
	</select>
	
	
	<!-- 판매자 계정 가져오기 -->
	<select id="listMember_company" resultType="memberVO" parameterType="com.edu.vo.Pagination2">
		SELECT 
			member_idx
		   ,member_email
		   ,member_name
		   ,member_addr
		   ,member_addr2
		   ,member_postnum
		   ,member_phone
		   ,member_business_num
		   ,member_business_name
		   ,member_pet
		   ,member_level
		   ,member_join_date
		   ,member_state
		   ,member_photo
		FROM member
		WHERE member_level = 1
		order by member_idx asc limit #{rowStart},10
	</select>
	<!-- 판매자 계정 page -->
	<select id="company_Count" resultType="int">
		SELECT COUNT(member_idx)
		FROM member
		where member_level = 1
		AND member_idx > 0
	</select>
	
	
	<!-- 펀딩 신청한 제품 가져오기 -->
	<select id="list_funding" resultType="fundingMainVO" parameterType="com.edu.vo.Pagination">
		SELECT 
		 funding_idx
		,member_idx
		,funding_title
		,funding_permit_state
		,funding_category
		FROM funding
		WHERE funding_permit_state = 0
		order by funding_idx asc limit #{rowStart},10
	</select>
	<!-- 펀딩 제품 page -->
	<select id="funding_Count" resultType="int">
		SELECT COUNT(funding_idx)
		FROM funding
		where funding_permit_state = 0
		AND funding_idx > 0
	</select>
	
	
	<!-- 관리자가 승인하여 펀딩 상태 업데이트함  승인으로-->
	<update id="updateFun_State" parameterType="int">
	UPDATE funding
	SET funding_permit_state = 1
	WHERE funding_idx = #{f_idx}
	</update>
	
		<!-- 관리자가 승인하여 펀딩 상태 거절로 업데이트함 -->
	<update id="updateFun_State2" parameterType="int">
	UPDATE funding
	SET funding_permit_state = 2
	WHERE funding_idx = #{f_idx}
	</update>
	
	<!-- 스토어 관련 관리자 메소드들 -->
	
	<!-- 스토어 신청한 제품 가져오기 -->
	<select id="list_store" resultType="StoreVO" parameterType="com.edu.vo.Pagination2">
		SELECT 
		 store_idx
		,funding_idx
		,member_idx
		,store_title
		,store_permit_state
		,store_category
		FROM store
		WHERE store_permit_state = 0
		order by store_idx asc limit #{rowStart},10
	</select>
	<!-- 스토어 제품 page -->
	<select id="store_Count" resultType="int">
		SELECT COUNT(store_idx)
		FROM store
		where store_permit_state = 0
		AND store_idx > 0
	</select>
	
	
	<!-- 관리자가 승인하여 스토어 상태 업데이트함  승인으로-->
	<update id="updateStore_State" parameterType="int">
	UPDATE store
	SET store_permit_state = 1
	WHERE store_idx = #{store_idx}
	</update>
	
		<!-- 관리자가 승인하여 스토어 상태 거절로 업데이트함 -->
	<update id="updateStore_State2" parameterType="int">
	UPDATE store
	SET store_permit_state = 2
	WHERE store_idx = #{store_idx}
	</update>
	
	
	<!-- 펀딩 승인 후 페이지에 올라온 제품 가져오기(project 관리 페이지) -->
	<select id="productFunding" resultType="fundingMainVO" parameterType="com.edu.vo.Pagination">
		SELECT 
		 funding_idx
		,member_idx
		,funding_title
		,funding_thumbnail
		,funding_permit_state
		,funding_category
		FROM funding
		WHERE funding_permit_state = 1
		order by funding_idx asc limit #{rowStart},10
	</select>
	<select id="pro_fundingCount" resultType="int">
		SELECT COUNT(funding_idx)
		FROM funding
		where funding_permit_state = 1
		AND funding_idx > 0
	</select>
	
	
	<!-- 스토어 제품 가져오기 -->
	<select id="productStore" resultType="StoreVO" parameterType="com.edu.vo.Pagination2">
		SELECT 
		 store_idx
		,funding_idx
		,member_idx
		,store_title
		,store_permit_state
		,store_category
		FROM store
		WHERE store_permit_state = 1
		order by store_idx asc limit #{rowStart},10
	</select>
	<!-- 스토어 제품 page -->
	<select id="pro_storeCount" resultType="int">
		SELECT COUNT(store_idx)
		FROM store
		where store_permit_state = 1
		AND store_idx > 0
	</select>
	
	<update id="funding_thumUpdate" parameterType="fundingMainVO">
		UPDATE funding
		SET funding_thumbnail = #{funding_thumbnail}
		WHERE funding_idx = #{funding_idx}
	</update>
	
	
<update id="store_thumUpdate" parameterType="StoreVO">
		UPDATE store
		SET  store_thumbnail = #{store_thumbnail}
		WHERE store_idx = #{store_idx}
	</update>
	
	
	
	
</mapper>