<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	
	<insert id="memberJoin" parameterType="MemberVO">
	INSERT INTO member
		( 
		   member_email
		   ,member_password
		   ,member_name
		   ,member_addr
		   ,member_phone
		   ,member_pet
		   ,member_level
		   ,member_join_date
		   
		)
		VALUES(
			#{member_email}
			,#{member_password}
			,#{member_name}
			,#{member_addr}
			,#{member_phone}
			,#{member_pet}
			,#{member_level}
			,now()
		)
	</insert>
	
	<select id="selectOne" parameterType="MemberVO" resultType="MemberVO">
		SELECT member_idx
			 , member_email
			 , member_password
			 , member_name
			 , member_addr
			 , member_phone
			 , member_pet
			 , member_level
			 , member_join_date
			 , member_photo
		FROM member
	<if test="member_idx == 0">
		WHERE member_email = #{member_email}
		  AND member_password = #{member_password}
	</if>
	<if test="member_idx != 0">
		WHERE member_idx = #{member_idx}
	</if>
	</select>
	
</mapper>