<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageMapper">
	
	<!-- 프로필 사진 업데이트 -->
	<update id="update_photo" parameterType="fileuploadVO">
		UPDATE member
		SET    member_photo = #{path}
		WHERE  member_idx = #{member_idx}
	</update>
	
	<!-- 프로필 업데이트 -->
	<update id="update_profile" parameterType="memberVO">
		UPDATE 	member
		SET	   	member_addr = #{member_addr},
				member_addr2 = #{member_addr2},
				member_postnum = #{member_postnum},
			 	member_phone = #{member_phone},
			 	member_pet = #{member_pet}
		WHERE  	member_idx = #{member_idx}
	</update>
	
	<!-- 비밀번호 변경 - 마이페이지 -->
	<update id="changePassword" parameterType="java.util.HashMap">
		UPDATE member
		SET    member_password = #{member_password_new}
		WHERE  member_idx = #{member_idx}
		AND    member_password = #{member_password_old}
	</update>
	
	<!-- 주소지 변경 - funding_info_detail -->
	<update id="changeExpress" parameterType="java.util.HashMap">
		UPDATE 	funding_express
		SET    	funding_express_name = #{funding_express_name},
			   	funding_express_phone = #{funding_express_phone},
			   	funding_express_postnum = #{funding_express_postnum},
			   	funding_express_addr1 = #{funding_express_addr1},
			   	funding_express_addr2 = #{funding_express_addr2}
		WHERE 	funding_order_idx = #{funding_order_idx}		
	</update>
	
	
	<!-- 아이디 찾기 MypageController2 -->
	<select id="findId" resultType="String">
		SELECT member_email
		FROM   member
	    WHERE  member_name = #{member_name}
	   	AND    member_phone = #{member_phone}
	</select>
	
	<!-- 비밀번호 찾기 MypageController2 (필요없음, 나중에 삭제할것)-->
	<select id="findPw" resultType="String">
		SELECT member_password
		FROM   member
	    WHERE  member_name = #{member_name}
	   	AND    member_phone = #{member_phone}
	   	AND	   member_email = #{member_email}
	</select>
	
	<!-- 비밀번호 변경 MypageController2 -->
	<update id="changePw" parameterType="changePwVO">
		UPDATE member 
		SET    member_password = ifnull(#{changedPw},0)
		WHERE  member_email = #{member_email}
		AND    member_name = #{member_name}
		AND    member_phone = #{member_phone}
	</update>
	
	<!-- mypage1 펀딩 리스트 출력 3개 -->
	<select id="select3Funding" parameterType="int" resultType="com.edu.vo.FundingInfoDetailVO">
		SELECT  f.funding_idx,
				f.funding_title,
				f.funding_thumbnail,
				f.funding_target_price,
				f.funding_current_price,
				f.funding_start_date,
				f.funding_end_date,
				f.funding_permit_state,
				f.funding_current_state,
				f.funding_category,
				f.funding_views,
				fo.funding_order_idx
		FROM  	funding_order fo, funding f 
		WHERE 	fo.funding_idx = f.funding_idx 
		AND 	fo.member_idx = #{member_idx}
		ORDER BY fo.funding_order_date DESC limit 3;
	</select>
	
	
	<!-- my_info 펀딩 리스트 출력 4개 -->
	<select id="select4Funding" parameterType="int" resultType="com.edu.vo.FundingInfoDetailVO">
		SELECT  f.funding_idx,
				f.funding_title,
				f.funding_thumbnail,
				f.funding_target_price,
				f.funding_current_price,
				f.funding_start_date,
				f.funding_end_date,
				f.funding_permit_state,
				f.funding_current_state,
				f.funding_category,
				f.funding_views,
				fo.funding_order_idx
		FROM  	funding_order fo, funding f 
		WHERE 	fo.funding_idx = f.funding_idx 
		AND 	fo.member_idx = #{member_idx}
		ORDER BY fo.funding_order_date DESC limit 4;
	</select>
	
	<!-- mypage1 펀딩 개수 -->
	<select id="countFunding" parameterType="int" resultType="int">
		SELECT	count(f.funding_idx)
		FROM  	funding_order fo, funding f 
		WHERE 	fo.funding_idx = f.funding_idx 
		AND 	fo.member_idx = #{member_idx}
	</select>
	
	<!-- 펀딩 내역 -->
	<select id="myFundingList" parameterType="int" resultType="FundingMainVO">
		SELECT 	f.funding_idx,
				f.funding_title,
				f.funding_thumbnail,
				f.funding_target_price,
				f.funding_current_price,
				f.funding_start_date,
				f.funding_end_date,
				f.funding_permit_state,
				f.funding_current_state,
				f.funding_category,
				f.funding_views
		FROM  	funding_order fo, funding f 
		WHERE 	fo.funding_idx = f.funding_idx 
		AND 	fo.member_idx = #{member_idx}
		ORDER BY fo.funding_order_date DESC
	</select>
	
	<!-- 펀딩 내역 2-->
	<select id="myFundingList2" parameterType="int" resultType="com.edu.vo.FundingInfoDetailVO">
		SELECT 	fo.funding_order_idx,
			  	fo.funding_order_total_price,
			  	fo.funding_order_pay_state,
			  	fo.funding_order_date,
			  	f.funding_idx,
				f.funding_title,
				f.funding_thumbnail,
				f.funding_target_price,
				f.funding_current_price,
				f.funding_start_date,
				f.funding_end_date,
				f.funding_permit_state,
				f.funding_current_state,
				f.funding_category,
				f.funding_views
		FROM  	funding_order fo, funding f 
		WHERE 	fo.funding_idx = f.funding_idx 
		AND 	fo.member_idx = #{member_idx}
		ORDER BY fo.funding_order_date DESC
	</select>
	
	<!-- mypage1 찜 리스트 출력 3개  -->
	<select id="select3Zzim" parameterType="int" resultType="FundingMainVO">
		SELECT  f.funding_idx,
				f.funding_title,
				f.funding_thumbnail,
				f.funding_target_price,
				f.funding_current_price,
				f.funding_start_date,
				f.funding_end_date,
				f.funding_permit_state,
				f.funding_current_state,
				f.funding_category,
				f.funding_views
		FROM  	zzim z, funding f 
		WHERE	z.funding_idx = f.funding_idx 
		AND	 	z.member_idx = #{member_idx} 
		ORDER BY z.zzim_idx DESC limit 3;
	</select>
	
	<!-- mypage1 찜 갯수 -->
	<select id="countZzim" parameterType="int" resultType="int">
		SELECT  count(z.zzim_idx)
		FROM    zzim z, funding f 
		WHERE 	z.funding_idx = f.funding_idx 
		AND	 	z.member_idx = #{member_idx} 
	</select>
	
	<!-- 찜 내역 -->
	<select id="myZzimList" parameterType="int" resultType="FundingMainVO">
		SELECT	f.funding_idx,
				f.funding_title,
				f.funding_thumbnail,
				f.funding_target_price,
				f.funding_current_price,
				f.funding_start_date,
				f.funding_end_date,
				f.funding_permit_state,
				f.funding_current_state,
				f.funding_category,
				f.funding_views
		FROM 	zzim z, funding f 
		WHERE 	z.funding_idx = f.funding_idx 
		AND 	z.member_idx = #{member_idx} 
		ORDER BY z.zzim_idx DESC
	</select>
	
	<!-- mypage2 내 펀딩 내역 -->
	<select id="sellerFundingList" parameterType="int" resultType="FundingMainVO">
		SELECT 	f.funding_idx,
				f.funding_title,
				f.funding_thumbnail,
				f.funding_target_price,
				f.funding_current_price,
				f.funding_start_date,
				f.funding_end_date,
				f.funding_content,
				f.funding_permit_state,
				f.funding_current_state,
				f.funding_category,
				f.funding_views 
		FROM    funding f 
		WHERE   f.member_idx = #{member_idx}
	</select>
	
	<!-- funding_info_detail -->
	<!-- funding & funding_order -->
	<select id="fundingInfoDetail" parameterType="com.edu.vo.FundingInfoDetailParameterVO" resultType="com.edu.vo.FundingInfoDetailVO">
		SELECT 	fo.funding_order_idx, 
				fo.funding_order_date,
				fo.funding_order_total_price,
				fo.funding_order_pay_state,
				fo.funding_order_donation,
				f.funding_idx,
				f.funding_title,
				f.funding_thumbnail,
				f.funding_target_price,
				f.funding_current_price,
				f.funding_start_date,
				f.funding_end_date,
				f.funding_content,
				f.funding_permit_state,
				f.funding_current_state,
				f.funding_category,
				f.funding_views,
				f.funding_express_date,
				f.funding_express_fee
		FROM 	funding_order fo, funding f 
		WHERE 	fo.funding_order_idx = #{ funding_order_idx }
		AND 	fo.funding_idx = f.funding_idx;
	</select>
	
	<!-- funding_order_pay -->
	<select id="fundingPayDetail" parameterType="int" resultType="funding_order_payVO">
		 SELECT funding_order_pay_idx, 
				funding_order_idx, 
				funding_order_pay_card_num,
				funding_order_pay_card_valid,
				funding_order_pay_card_password,
				funding_order_pay_register_num
		 FROM   funding_order_pay
		 WHERE	funding_order_idx = #{funding_order_idx}
	</select>
	
	<!-- funding_express -->
	<select id="fundingExpressDetail" parameterType="java.util.HashMap" resultType="funding_expressVO">
		SELECT  funding_express_idx,
				funding_order_idx,
				member_idx,
				funding_express_postnum,
				funding_express_addr1,
				funding_express_addr2,
				funding_express_phone,
				funding_express_name,
				funding_express_state
		FROM funding_express
		WHERE funding_order_idx = #{funding_order_idx}
	</select>
	
	<!-- funding_option -->
	<select id="fundingOptionDetail" parameterType="int" resultType="com.edu.vo.FundingInfoDetailVO">
		SELECT  foo.funding_order_idx,
				foo.funding_order_option_idx,
				foo.funding_order_option_select_idx,
				foo.funding_order_option_select_count,
				fp.funding_option_name,
				fp.funding_option_price,
				fp.funding_option_detail
		FROM	funding_order fo, funding_order_option foo, funding_option fp
		WHERE 	fo.funding_order_idx = foo.funding_order_idx
		AND	 	fp.funding_option_idx = foo.funding_order_option_select_idx
		AND 	fo.funding_order_idx = #{funding_order_idx};
	</select>
	
	<!-- 찜 취소 -->
	<delete id="deleteZzim" parameterType="java.util.HashMap">
		DELETE FROM zzim
		WHERE funding_idx = #{funding_idx} AND member_idx = #{member_idx};
	</delete>
	
	<!-- 펀딩 취소 -->
	<update id="fundingWithdraw1" parameterType="int">
		DELETE FROM funding_order_option
		WHERE  		funding_order_idx = #{funding_order_idx};
	</update>
	<update id="fundingWithdraw2" parameterType="int">
		DELETE FROM funding_express
		WHERE  		funding_order_idx = #{funding_order_idx};
	</update>
	<update id="fundingWithdraw3" parameterType="int">
		DELETE FROM funding_order_pay
		WHERE  		funding_order_idx = #{funding_order_idx};
	</update>
	<update id="fundingWithdraw4" parameterType="int">
		DELETE FROM funding_order 
		WHERE  		funding_order_idx = #{funding_order_idx};
	</update>
	
</mapper>