<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageMapper">
	
	<update id="update_photo" parameterType="fileuploadVO">
		UPDATE member
		SET    member_photo = #{path}
		WHERE  member_idx = #{member_idx}
	</update>
	
	<update id="update_profile" parameterType="memberVO">
		UPDATE member
		SET	   member_addr = #{member_addr}
			 , member_phone = #{member_phone}
			 , member_pet = #{member_pet}
	<if test="member_password != null and member_password neq ''">
		, member_password = #{member_password}
	</if>
		WHERE  member_idx = #{member_idx}
	</update>
	
	<select id="findId" resultType="String">
		SELECT member_email
		FROM   member
	    WHERE  member_name = #{member_name}
	   	AND    member_phone = #{member_phone}
	</select>
	
	
</mapper>