main {
    height: auto;
    min-height: 100%;
    padding-bottom: 300px;
}
.inner{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.wrap{
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 40px -11px rgb(0 0 0 / 24%);
}

.login_container{
    position: relative;
    padding: 70px;
}

.login_header{
    display: flex;
}

.login_header_in{
    width: 100%;
}
.login_text{
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 30px;
}
.login_header_p{
    position: relative;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: 0;
    margin-bottom: 1rem;
}

.login_input{
    position: relative;
    z-index: 0;
    margin: 40px 0px;position: relative;
}

.login_input_box{
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    overflow: visible;
    margin: 0;
}

.login_input_box_placeholder {
    position: absolute;
    top: 2px;
    padding: 10px 0 0 15px;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    opacity: .6; 
}

.login_input_box:focus + .login_input_box_placeholder,
.login_input_box:valid + .login_input_box_placeholder {
    -webkit-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0);
    padding: 7px 0 0 0;
    opacity: 1;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fa6462;
    font-weight: 700; 
}

.login_input_box:focus, .login_input_box:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #fa6462; 
}
.login_input i{
    position: absolute;
    left: 90%;
    top: 4px;
    color: #545b62;
    zoom: 1.5;
}
.login_btn{
    background: #fa6462 !important;
    border: 1px solid #fa6462 !important;
    color: #fff !important;
    box-shadow: none !important;
    font-size: 17px;
    font-weight: 600;
    height: 48px;
    padding: 0px 10px;
    width: 100%;
    border-radius: 5px;
}
.find_loca{
    display: flex;
    justify-content: end;
    margin: 20px 0px 30px;
    font-size: 15px;
}
.login_find{
    color: gray;
}
.login_find:hover{
	color: black;
}
.login_join{
    margin-left: 10px;
    color: #fa6462;
    font-weight: bold;
}
.login_join:hover{
	color: #df4642;
}