@charset "UTF-8";
#canvas{
	position : absolute;
	display : flex;
	margin-top : 400px;
	right : 30%;
	top : 40px;
}
@media (min-width: 0px) and (max-width: 1230px) {
	#canvas{
		display:none;
	}
    
}

main {
    height: auto;
    min-height: 100%;
    z-index: 1;
}

.search-box{
    margin: 0 auto;
    border-bottom: 1px solid #f0f2f5;
    padding: 25px 0 25px;
    width: 100%;
    margin-bottom: 50px;
}

.search-title{
    margin-bottom: 36px;
    color: gray;
    font-size: 36px;
    font-weight: 700;
}

.search_keyword{
    color: black;
}

.search_result{
    margin: 0 auto;
    padding: 0 16px 30px;
    width: 100%;
}

.search_result_num{
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0px;
    z-index: 2;
}
.search_result_z{
	z-index: 2;
}

.search_result_num span{
    color:#fa6462;
}
.seemore{
    background-color: transparent!important;
    border: none;
    height: 48px;
    line-height: 1;
    color: gray;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
}
.bi-caret-down{
    width: 16px;
    height: 18px;
    font-size: 18px;
}

/* modal btn */
.modal_btn{
	color: #fa6462;
    border-color: #fa6462;
}
.modal_btn:hover{
	color: white;
	background-color: #fa6462;
	border-color: #fa6462;
}
.btn-outline-info:focus {
    box-shadow: none;
}
.btn-outline-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #fa6462;
    border-color: #fa6462;
}
.FVbtn{
	background-color: #fa6462 !important;
	border: none;
}
.FVbtn:hover{
	background-color: #f24f49 !important;
}