@charset "UTF-8";

*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}

h1 {
  font-size: 48px;
  font-weight: 100;
}
.contents1{
  font-size: 20px;
  font-weight: lighter;
}
.contents2{
  font-size: 18px;
}
.contents3 {
  font-size: 14px;
  font-weight: 100;
}
.contents1_bold{
  font-size: 18px;
  font-weight: bold;
}
/* --- */

.result{
  font-size: 24px;
}

.intro_bg{
  background-image: url("");
  width: 100%;
  height: 585px;
}



.searchArea > form > input{
  border:none;
  width:250px;
  height:40px;
  background: rgba(0, 0, 0, 0.0);
  color:#fff;
  padding-left:10px;
}
.searchArea > form > span{
  width:50px;
  color:#fff;
}
.nav{
  display: flex;
  justify-content: flex-end;
  width:calc(1280px - 300px);
  line-height: 86px;
}
.nav > li {
  margin-left:84px;
}

.nav > li > a {
  color: #fff;
}

.amount{
  position: relative;
  top:-66px;
  display: flex;
  width:1280px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.amount > li {
  flex: 1;
  height: 132px;
}
.amount > li > div {
  text-align: center;
  margin-top:37px;
  height:57px;
}

.amount > li:not(:last-child) > div{
  border-right:1px solid #E1E1E1;
}
.intro_text{
  width:100%;
  margin:231px auto 231px auto;
  text-align: center;
}
.intro_text > h1,
.intro_text > h4{
  color:#fff;
}

/* main_text0 */

.main_text0{
  width: 100%;
  height:601px;
  margin-top:-132px;
  background: #f1f2f3;
}
.main_text0 > h1{
  padding-top:116px;
  text-align: center;
}
.main_text0 > .contents1 {
  text-align: center;
}

.icons{
  display: flex;
  width:1280px;
  height: 302px;
  /* background: orange; */
  margin:auto;
  margin-top:100px;
}
.icons > li {
  flex: 1;
  background: white;
  margin-top:49px;
  height:302px;
  text-align: center;
}
.icons > li > .icon_img{
  margin-top:18px;
}

.icons > li:not(:last-child){
  margin-right: 20px;
}




.icons2{
  display: flex;
  width:1280px;
  height: 302px;
  /* background: orange;  */
  margin:auto;
  margin-top:100px;
}
.icons2 > li {
  flex: 1;
  background: white;
  margin-top:49px;
  height:302px;
  text-align: center;
}

.icons2 > li:not(:last-child){
  margin-right: 20px;
}


.icons3{
  /* display: flex; */
  width:1280px;
  height: 302px;
  /* background: orange;  */
  margin:auto;
  margin-top:100px;
}
.icons3 > li {
  flex: 1;
  background: white;
  margin-top:49px;
  height:302px;
  text-align: center;
}

.icons3 > li:not(:last-child){
  margin-right: 20px;
}








.icons .contents2 {
  width:280px;
  margin:auto;
  letter-spacing: -1px;
}
.more1{
  width:100px;
  height: 30px;
  background: #2F7AF4;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  margin:25px auto;
}

/* main_text1*/

.main_text1{
  width: 100%;
  height:659px;
  /* margin-top:-132px; */
  /* background: #2F7AF4 */
}
.food_photo > img{
  width: 580px;
  height: 427px;
  
}
.main_text1 > h1{
  padding-top:50px;
  text-align: center;
}
.main_text1 > .contents1 {
  text-align: center;
}
.service {
  width:1280px;
  display: flex;
  margin: 49px auto;
  height:427px;
}

.service > .contents2 {
  padding: 20px;
}
.service > .contents2 > h2{
  margin-bottom: 27px;
}

/* main_text2 */
.main_text2 {
  width:1900px;
  height:660px;
  background-image: url("../../image/introduction/dogcat2.png");
  margin-bottom:-132px; 
  /* background-color:yellow; */
}

.main_text2 > ul {
  display: flex;
  padding-top:300px;
  
}

.main_text2 > ul > li {
  flex: 1;
  text-align: center;
}
.main_text2 > ul > li > div,
.main_text2 > ul > li > div > h1{
  color: rgb(0, 0, 0)k;
}
.more2{
  width:220px;
  height:40px;
  border: 1px solid #fff;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  margin:16px auto;
}

