@charset "UTF-8";

*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none; 
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}

h1 {
  font-size: 48px;
  font-weight: 100;
}
.contents1{
  font-size: 20px;
  font-weight: lighter;
}
.contents2{
  font-size: 18px;
  
}

.contents1_bold{
  font-size: 18px;
  font-weight: bold;
}
/* --- */








/* main_text0 */

 .main_text0{
   width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.main_text0 > h1{
  padding-top:116px;
  text-align: center;
}




.icons3{
  /* display: flex; */
  width:1280px;
  /* height: 302px; */
  list-style: none;
  /* background: orange;  */
  /* margin:auto; */
  margin-top:100px;
  text-align: center;
}
.icons3 > li {
  flex: 1;
  background: white;
  margin-top:49px;
  margin-bottom:100px;
  
  text-align: center;
}





